nav {
	padding: 20px;
}
.brand {
	float: left;
}
.menu {
	float: right;
}
.menu ul> a {
	text-decoration: none;
}
a:hover {
	background-color: #e8e8e8;
	text-decoration: none !important;
}
li {
	display: inline-block;
	padding: 5px;
}
.brand img {
	width: 180px;
}
.text-gray {
	color: #c0c0c0;
}
.text-white{
	color: white;
}
.getS {
	border-radius: 15px;
	background-color: #b0b0b0;
	padding: 10px;
	margin: 20px 0px;
}
.bigtxt {
	font-size: 63px;
}
.bg-sec {
	background-color: #989898;
	padding: 15px;
	height: auto;
}
.text-left {
	text-align: left;
}
.minitron {
	width: 80%;
}
.pd-5 {
	padding: 5px;
}
.blue {
	color: blue,
}